@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* ZEROING */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
}

.logo {
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo img {
  max-width: 65px;
}

.logo_describe {
  font-size: 36px;
  color: #254181;
  font-weight: 500;
  margin-left: 10px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.signin {
  margin-right: 20px;
  padding: 14px 28px;
  background-color: #33BFF5;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.5s;
}
.signin:hover {
  box-shadow: 0 0 10px #33BFF5;
  transition: box-shadow 0.3s;
}

.signup {
  margin-right: 20px;
  padding: 14px 28px;
  background-color: #33BFF5;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.5s;
  display: none;
}
.signup:hover {
  box-shadow: 0 0 10px #33BFF5;
  transition: box-shadow 0.3s;
}

.content {
  height: 100%;
  width: 100%;
  background-image: url("../img/back_signin.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content_describe {
  text-align: center;
  max-width: 650px;
}
.content_describe p {
  font-size: 52px;
  color: #3742da;
  text-align: center;
  margin-bottom: 10px;
}
.content_describe span {
  font-size: 40px;
  color: #A80089;
  text-shadow: 0 0 15px #A80089;
  cursor: pointer;
  transition: 0.3s;
}
.content_describe span:hover {
  color: #CA006E;
  text-shadow: 0 0 15px #CA006E;
  transition: 0.3s;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  border-radius: 10px;
}
.form input {
  margin: 8px 50px 8px;
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  width: 400px;
  height: 45px;
  padding: 0 10px;
  font-size: 16px;
}
.form h2 {
  padding-top: 60px;
  text-align: center;
  font-size: 36px;
  color: #374D69;
  margin: 0 0 20px;
  font-family: "Raleway", sans-serif;
}

.signup_form {
  display: flex;
}

.signin_form {
  display: none;
}

.start_now {
  text-align: center;
  padding: 14px 28px;
  width: 400px;
  background-color: #33BFF5;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.5s;
  margin: 15px 0 60px;
}
.start_now:hover {
  box-shadow: 0 0 10px #33BFF5;
  transition: box-shadow 0.3s;
}

.start_now {
  text-align: center;
  padding: 14px 28px;
  width: 400px;
  background-color: #33BFF5;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.5s;
  margin: 15px 0 60px;
}
.start_now:hover {
  box-shadow: 0 0 10px #33BFF5;
  transition: box-shadow 0.3s;
}

@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
    justify-content: center;
  }

  .content_describe {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .content_describe p {
    font-size: 40px;
  }
  .content_describe span {
    font-size: 30px;
  }

  .form input {
    margin: 8px 10px 8px;
    max-width: 280px;
    max-height: 45px;
    font-size: 15px;
  }
  .form h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 32px;
  }

  .start_now {
    width: 280px;
  }

  .logo_describe {
    font-size: 28px;
  }

  .logo {
    margin-left: 5px;
  }
  .logo img {
    max-width: 48px;
  }
}
@media screen and (max-height: 400px) {
  .content_describe {
    display: none;
  }

  .form {
    margin-top: -40px;
  }
}