{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Signup</title>
	<link rel="stylesheet" href="{% static 'css/signups.css' %}">
	<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
</head>
<body>
	<div class="header">
		<div class="logo">
			<img src="{% static 'img/logo.png' %}" alt="logo">
			<h1 class="logo_describe">sPlaner</h1>
		</div>
		<button>
		<span class="sigup"><a href="{{ '/accounts/login/' }}">sign in</a></span></button>
	</div>

	<div class="content">
		<div class="content_describe">
			<p>Every moment of life is gold Therefore, it should not be lost</p>
			<span class="get_started">Get started</span>
		</div>
		<div class="signup_form form">
			<h2>Signup Now</h2>


<form class="signup_form form" method="POST">
        	{% csrf_token %}
        	{{ form }}
			<input class="start_now" type="submit" value="Start Now" />

</form>
<!--		<div class="signup_form form">-->
<!--			<h2>Signup Now</h2>-->
<!--			<input placeholder="Name" type="text" class="in_name">-->
<!--			<input placeholder="Email Address" type="text" class="in_email">-->
<!--			<input placeholder="Password" type="text" class="password">-->
<!--			<span class="start_now">Start Now</span>-->
<!--		</div>-->

<!--		<div class="signin_form form">-->
<!--			<h2>Sign in Now</h2>-->
<!--			<input placeholder="Email Address" type="text" class="in_email">-->
<!--			<input placeholder="Password" type="text" class="password">-->
<!--			<span class="start_now">Start Now</span>-->
<!--		</div>-->
	</div>
<!--<form method="POST">-->
<!--        {% csrf_token %}-->
<!--        {{ form }}-->
<!--        <input type="submit" />-->
<!--</form>-->
</body>
</html>