{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Diary</title>
	<link rel="stylesheet" href="{% static 'icomoon/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
<!--	<script src="http://static.example.com/js/main.js"></script>-->
</head>
<body>
<header class="header">
	<div class="header__left">
		<div class="header__left__cont">
			<div class='header__burger' data-title="Menu">
				<span class="burger"></span>
			</div>

			<div class="header__left__inf">Notes</div>
		</div>

		<div class="header__search">
			<span class="icon-arrow-left2" data-title="Back"></span>
			<span class="icon-search" data-title="Search"></span>
			<form action="{% url 'search_results' %}" method="get">
  <input class="header__input" name="q" type="text" placeholder="Search">
</form>
<!--			<input class="header__input" name="q" action="{% url 'search_results' %}" method="get" type="text" placeholder="Search">-->
			<span class="icon-interface1" data-title="Clean up"></span>
		</div>
	</div>

	<div class="header__right">
		<div class="header__right__menu">
			<span class="icon-spinner11" data-title="Refresh"></span>
			<span class="icon-download" data-title="List"></span>
			<span class="icon-interface" data-title="Grid"></span>
			<span class="icon-cog" data-title="Configuration"></span>
		</div>

		<div class="header__right__user user" data-title="{{ request.user }}">
			<div class="user__icon"></div>
			<button class="exit_button" ><a href="{{ '/accounts/logout/' }}">Exit</a></button>
		</div>
	</div>
</header>
	<div class="content">
		<div class="content__side_menu menu">
			<div class="menu__item active_item">
				<span class="icon-seo-and-web side_icon"></span>
				<div class="item__describe it1">Notes</div>
			</div>
			<div class="menu__item">
				<span class="icon-social-media side_icon"></span>
				<div class="item__describe it2">Reminder</div>
			</div>
			<div class="menu__item">
				<span class="icon-rubbish-can side_icon"></span>
				<div class="item__describe it3">Trash can</div>
			</div>
		</div>
		<!-- ************************************** -->
		<div class="content_main">
			<div class="add_note">
				<form class="append_note" method="post">
					<div class="inputs">
						{% csrf_token %}
						<input type="hidden" value="red"  name="color"> </input>
    					{{ form.as_p }}

<!--						<input type="text" class="header_note note_in" placeholder="Print header" oninput="maxLengthCheck(this)" maxlength = "52">-->
<!--						<textarea oninput="maxLengthCheck(this)" maxlength = "600" class="describe_notes note_in" placeholder="Notes..."></textarea>-->
					</div>
					<button class="icon-checkmark" type="submit" data-title="Append"></button>
<!--					<span class="icon-checkmark" data-title="Append"></span>-->
				</form>
				<div class="notes_menu">
					<span class="icon-paint" data-title="Colour"><div class="notes_colours">
						<div class="white color active_color" data-title="White"><span class="icon-checkmark"></span></div>
						<div class="red color" data-title="Red"></div>
						<div class="orange color" data-title="Orange"></div>
						<div class="yellow color" data-title="Yellow"></div>
						<div class="green color" data-title="Green"></div>
						<div class="blue-green color" data-title="Blue-green"></div>
						<div class="blue color" data-title="Blue"></div>
						<div class="dark-blue color" data-title="Dark-blue"></div>
						<div class="purple color" data-title="Purple"></div>
						<div class="pink color" data-title="Pink"></div>
						<div class="brown color" data-title="Brown"></div>
						<div class="grey color" data-title="Grey"></div>
					</div></span>
					<span class="notes_close">Close</span>
				</div>
			</div>

			<div class="notes_bloc">
				{% for post in posts %}
				<div class="note" style="background-color: {{post.color}}">
					<h3 class="header_n">{{ post.title }}</h3>
					<p class="describe_n">{{ post.body }}</p>
					<div class="date">
						<span class="icon-watch"></span>
						<p class="time">{{post.created}}</p>
					</div>
				</div>
				{% endfor %}
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgtyholikujyhgfdfrgtyhujio9p0ujio9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgtyholikujyhgfdfrgtyhujio9p0olikujyhgfdfrgtyhujio9p0ujio9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgtyholikujyhgfdfrgtyhujio9p0olikujyhgfdfrgtyhujio9p0olikujyhgfdfrgtyhujio9p0olikujyhgfdfrgtyhujio9p0olikujyhgfdfrgtyhujio9p0olikujyhgfdfrgtyhujio9p0olikujyhgfdfrgtyhujio9p0olikujyhgfdfrgtyhujio9p0ujio9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgtyhujio9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgolikujyhgfdfrgtyhujio9p0olikujyhgfdfrgtyhujio9p0tyhujio9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgtyhujio9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgtyhujolikujyhgfdfrgtyhujio9p0io9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgtyhujio9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgtyhujio9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrolikujyhgfdfrgtyhujio9p0olikujyhgfdfrgtyhujio9p0gtyhujio9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgtyhujio9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgtyhujio9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgtyhujio9polikujyhgfdfrgtyhujio9p00[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<p class="describe_n">line-height: 1.3;;['p;olikujyhgfdfrgtyhujio9p0[;polikujnhbgvfds</p>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="note">-->
<!--					<h3 class="header_n">line-height: 1.3;</h3>-->
<!--					<i class="describe_n">fuck</i>-->
<!--					<div class="date">-->
<!--						<span class="icon-watch"></span>-->
<!--						<p class="time">5 may, 16:00</p>-->
<!--					</div>-->
				</div>
			</div>
		</div>
	</div>
{% now "jS F Y H:i" %}<br/>



{{ item.date_in|date:"j E Y" }}
<div><br><h1> Notatka </h1>
    {% for post in posts %}
        {{ post.title }}<br>
        {{ post.body }}<br>
	{{post.showtime}}
    {% endfor %}

<!--<p>{{ post.title }}</p>-->
<!--    <p>{{ post.body }}</p>-->
<!--    <p>{{ post.user }}</p>-->
<form action="{% url 'search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>


<ul>
  {% for Postq in object_list %}
    <li>
      {{ Postq.title }}, {{ Postq.body }}
    </li>
  {% endfor %}
</ul>


</body>
</html>